body {
    background-color: rgb(172, 169, 169);
    font-family: 'Arial', sans-serif;
    background-color: #4b4949;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fffefe;
}

div {
    background-color: #a8a8af;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(95, 86, 86, 0.897);
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: 18px; 
    font-weight: bold; 
    color: #360505;
    text-align: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fffefe;
    border: none;
    border-radius: 200px;
    cursor: pointer;
}